@import '../styles/colors';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.5rem;
      height: 1.5rem;

      color: $gray11;
    }

    &:hover {
      color: $blue9;

      svg {
        color: $gray12;
      }
    }

    &:active {
      color: $blue10;
    }
  }
}
